    #main {
        display: flex;
    }

    #main div {
        width: 30px;
        height: 30px;
        border: 2px solid;
        margin-left: 5px;
        background-color: lightgreen;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }

    .booked {
        color: red;
        cursor: not-allowed;
    }
